*.pdf
*.csv
36_TestSet_SubmissionTemplate/
36_TrainingData_Additional_V2/
微氣候數據處理(比賽用)/
LSTM(比賽用)/
LSTM+迴歸分析(比賽用)/
training data/
windowsdesktop-runtime-8.0.11-win-x64.exe
ExampleTrainData(IncompleteAVG)/
*.rar
*.txt